[2017-01-05 01:03] xpenatan opened #11 "Bug UITest delete command"
Delete key is doing backspace and not delete

[2017-01-05 23:33] #11 closed

[2017-02-20 10:03] nicolaichuk opened #12 "Bullet 2.86 release"
https://github.com/bulletphysics/bullet3/releases

[2017-02-20 10:17] nicolaichuk opened #13 "Some questions"
We are a gamedev team. We are looking for a replacement GWT in libgdx.

I would like to know:

1) How often do you plan to release gdx-dragome-backend?

2) Can use gdx-dragome-backend in production code?

[2017-02-20 15:02] xpenatan commented on #12
Hi, Yes I know there is 2.86. I stay with same libgdx bullet source code version (which does some patch). Didn't check yet if they updated it.

[2017-02-20 15:44] xpenatan commented on #13
1: When I have time I plan to keep it updated. Sometimes I need to wait for @fpetrola to fix some bugs I find. Building with gradle is in early stage. https://github.com/xpenatan/gdx-shadertoy is a example with gradle which I made a fatjar which packs dragomeSDK+dependencies and dragomebackend into 1 jar.
Bullet extension is a bit different from libgdx bullet. I manually create java/jni classes an

[2017-02-20 18:46] nicolaichuk commented on #13
Possible detail please?

I mean, how stable is gdx-dragome-backend for production use?

[2017-02-20 21:08] fpetrola commented on #13
Hi @nicolaichuk,

I can answer about Dragome in terms of generated code production use:

1.  Performance: generated code is as much faster as GWT performance, we've made several tests for example over jsurfer renderer GWT/Dragome versions, jbox2d, libgdx backends, gameengine.
2. Memory leaks: there are no memory leaks detected for now.
3. Distribution package size: It can be optimized using Progua

[2017-02-20 22:08] xpenatan commented on #13
There are methods that allocate objects every time you call them instead of caching them.
I figured it out when using jProfiler and profiling my editor. I tried to cache it but changing the config files wasn't easy so I preferred to manually code it so I know that every method is good.  Its the same Idea as gdx box2d wrapper where you use comment block to call JNI.  I adapted it so I can add anoth

[2017-02-21 07:18] nicolaichuk commented on #13
Thank you. I will think about it.

[2017-02-21 07:18] #13 closed

[2017-02-22 17:32] nicolaichuk opened #14 "Add source and javadoc jar in maven repository"
Please generate and commit next files in

https://github.com/xpenatan/mvn-repo/tree/master/snapshots/com/badlogicgames/gdx/gdx-backend-dragome/1.0.0-NIGHTLIES

gdx-backend-dragome-1.0.0-NIGHTLIES-sources.jar
gdx-backend-dragome-1.0.0-NIGHTLIES-sources.jar.md5
gdx-backend-dragome-1.0.0-NIGHTLIES-sources.jar.sha1

gdx-backend-dragome-1.0.0-NIGHTLIES-javadoc.jar
gdx-backend-dragome-1.0.0-NIGHTLIES-ja

[2017-02-22 17:40] nicolaichuk opened #15 "getPreloader().loadAsset"
we need write many "copy-past" assets paths In method createApplicationListener() in DragomeApplication class

for example https://github.com/xpenatan/gdx-shadertoy/blob/master/dragome/src/com/xoppa/dragome/launcher/ShaderToyLauncher.java

Can it set loadAsset from path mask?

For example as "shaders/*.glsl", etc.

[2017-02-22 17:44] nicolaichuk opened #16 "Support gdx-freetype"
Can you support gdx-freetype extension https://github.com/libgdx/libgdx/tree/master/extensions/gdx-freetype like you support bullet extension in web version?

[2017-02-22 17:50] xpenatan commented on #14
Why sources if you can get from this repo ?

will be tricky changing https://github.com/xpenatan/gdx-dragome-backend/blob/master/build.gradle#L86-L110 for sources because its a fatjar. (dragomeSDK + dependencies + dragome-backend).

I´ll have to study gradle more to generate it.

[2017-02-22 17:51] nicolaichuk commented on #14
for support in IDEs with gradle or maven plagins

[2017-02-22 17:57] xpenatan commented on #15
We can do like gwt backend which generates a file that contains all assets path.

@fpetrola  is it possible by code to loop and get names of all files that has not been downloaded yet in root/assets path?

[2017-02-22 18:23] fpetrola commented on #15
server side or client side?

[2017-02-22 18:41] nicolaichuk opened #17 "Replase Jetty to Gretty"
you used jetty plugin for gradle web test

https://github.com/xpenatan/gdx-shadertoy/blob/master/dragome/build.gradle

When try run "jettyRun" task, gradle v3.4 write

It may be worth to use gretty plugin?

https://discuss.gradle.org/t/future-of-jetty-plugin/18722

https://docs.gradle.org/current/userguide/jetty_plugin.html

[2017-02-22 18:46] nicolaichuk commented on #15
If I understand @xpenatan

Client ask server list all assets path, then select paths by masks list and than call loadAsset for paths that valid mask.

[2017-02-22 18:52] fpetrola commented on #15
We could create a service for assets listing, and then use the already implemented mechanism to load each selected asset.

[2017-02-22 18:54] fpetrola commented on #15
Listing assets service could list resources from classpath as weel as file system assets.

[2017-02-22 18:57] xpenatan commented on #17
Sure, jetty is really slow. takes some minutes to compile in my i7 compared with eclipse 8-20 secs

[2017-02-22 18:59] xpenatan commented on #16
Okay. I'll take a look.

[2017-02-22 19:12] xpenatan commented on #15
in gwt backend a  ".txt" file is created with all assets that copied from android/assets and when client starts it download that file first to know the paths of other assets.  This is simple to do and the code is mostly done because its already ported from gwt (just need to test). Knowing all files we can filter which to download first (or all) and later.

[2017-02-23 10:20] nicolaichuk opened #18 "pom.xml merge error"
Merge error in https://github.com/xpenatan/gdx-dragome-backend/blob/master/backends/gdx-backend-dragome/pom.xml line 78-82

[2017-02-23 14:37] nicolaichuk commented on #16
Maybe it helps:

https://github.com/metafloor/bwip-js/wiki/Compiling-FreeType

https://github.com/intrigus/gdx-freetype-gwt

[2017-02-23 22:47] #18 closed

[2017-02-23 23:50] xpenatan commented on #17
done, but still slow. i think its gradle...

[2017-02-23 23:50] #17 closed

[2017-02-24 08:35] nicolaichuk opened #19 "Multithreading java to js compile"
About slowly compile in https://github.com/xpenatan/gdx-dragome-backend/issues/17

When dragome compile java to js it used only one thread.

Maybe there is possibility enable multithreading dragome compile java to js?

[2017-02-24 08:43] nicolaichuk opened #20 "Can you help me fix some issue in app used dragome-backend?"
I have build error when run jetty (or gretty):

[code]

I found discusion about same issue on groups.google.com/forum
https://groups.google.com/forum/#!topic/dragome/GuFCyGlHiDs

There are two fixed patches in dragome-web

https://github.com/nosix/dragome-sdk/commit/d1a2f34e0856ad4fc119832f84b22644cc807077

https://github.com/nosix/dragome-sdk/commit/ec297f51e609225af31e7302b6a40228ad2d927f

What

[2017-02-24 11:37] xpenatan commented on #20
NullPointerException in Project.visitSuperTypes usually happens when its trying to compile a class that have been filtered out.

Check if when it prints  #######Classpath order ##### is showing all your required projects
and override filterClassPathLog method (from class that extends DragomeConfiguration) to return true and check in log if your classes have a true flag.

[2017-02-24 11:39] xpenatan commented on #19
Something is blocking.  generating with eclipse is super fast.

[2017-02-24 11:44] xpenatan commented on #16
@intrigus  made a gwt version running but didnt release the java gwt code (only the compiled js file). It will be helpful if you contact him to help so we can port to dragome.

[2017-02-24 12:43] nicolaichuk commented on #20
@xpenatan Is it possible to get more information about what class dragome trying to compile and crash?

maybe dragome have option for debug log-level?

[2017-02-24 12:55] intrigus commented on #16
Hey^^
Will release the java code soon, if I have time.
Ideally this weekend.

[2017-02-25 15:18] xpenatan commented on #20
Added new method "filterClassLog". Will print each class that is set to compile or not.

In the class that extends gdx DragomeConfiguration

add this code:
[code]
Execute:  "gradlew :dragome:jettyRun --refresh-dependencies > log.txt" to download a newer snapshot and to log to a file.

The log should be big but I want to know the last "[DEBUG] Parsing " line and "Allow Class" logs before the error.

[2017-02-27 00:32] nicolaichuk commented on #20
@xpenatan

[DEBUG] Parsing com.bulletphysics.util.ObjectArrayList#readExternal(java.io.ObjectInput)void

in file https://github.com/GoranM/bdx/blob/master/extern/gbullet/src/com/bulletphysics/util/ObjectArrayList.java

All compiled well if i remove implements java.io.Externalizable and methods writeExternal and readExternal.

I done all like this https://github.com/xpenatan/gdx-shadertoy/blob/mast

[2017-02-27 01:46] xpenatan commented on #20
name of dragome project folder. gdx shader toy is "dragome" and the dragom tests examples is "gdx-tests-dragome".

when proguard is true  see if allow true is printing for all ObjectArrayList imports:
[code]
It could be that proguard is removing AbstractList, RandomAccess or Externalizable  and you have to add a proguard file to keep it.  I didn't test yet proguard true with gradle and to see if a

[2017-02-27 09:44] nicolaichuk opened #21 "Support gdx-controllers extension"
In this file

https://github.com/libgdx/libgdx/blob/master/extensions/gdx-controllers/gdx-controllers/src/com/badlogic/gdx/controllers/Controllers.java#L102

[code]

and when i compile program with

[code]

and open in browser. I see in js browser console:

[code]

Be well if gdx-dragome-backend supported controllers api like gwt

https://github.com/libgdx/libgdx/tree/master/extensions/gdx-control

[2017-02-27 10:00] nicolaichuk opened #22 "Browser js console warning: unreachable code after return statement"
When i start my application in browser js console i see warning

unreachable code after return statement

for this generate js code:

[code]

All string function have dublicate return statement.

@fpetrola @xpenatan i see that you something done in string https://github.com/dragome/dragome-sdk/commit/71a458bc87e01133e7a2b46616247fd8984db735

Can you also fix this warning?

[2017-02-27 10:18] nicolaichuk opened #23 "Set utf-8 index.html character encoding"
In browser js console error:

[code]

Please add

[code]

in https://github.com/xpenatan/gdx-shadertoy/blob/master/dragome/webapp/index.html

[2017-02-27 10:27] nicolaichuk opened #24 "XML Parsing error for text assets"
For all text asset files that i load like

[code]

i have error in browser js console:

[code]

Why do all text assets load as xml or parse as xml?

[2017-02-27 11:12] nicolaichuk commented on #19
Dragome spend many time after write log "ClassPath Order" and before write "Compiling classes..."
And when count of class more than 3000 it spend 2-3 minutes for apply filter for all class in single thread use cpu only 10%.

Maybe this logic
https://github.com/xpenatan/gdx-dragome-backend/blob/master/backends/gdx-backend-dragome/src/com/badlogic/gdx/backends/dragome/DragomeConfiguration.java#L122

[2017-02-27 11:30] nicolaichuk commented on #20
@xpenatan thanks.
I open my app in browser, but only with eclipse jetty plugin (i can not connect for port 8080 when used gradle plugin (: )

Now when i start my application after load all assert in browser js console i have error

[code]

error in line
[code]

in this generate code:

[code]

I used

[code]

and dragome compile all successful. But browser class can not be found in generage js code

[2017-02-27 11:41] nicolaichuk commented on #16
@intrigus How was your weekend? :)

[2017-02-27 12:53] xpenatan commented on #20
the problem is https://github.com/xpenatan/gdx-dragome-backend/blob/master/backends/gdx-backend-dragome/src/com/badlogic/gdx/backends/dragome/DragomeConfiguration.java#L141 . I remove all javax package from compiler.  I think add this to save space or there was a error when compiling that package.

If you do
[code]
You will see that it will have a "false" flag.

Solution now is to override "classC

[2017-02-27 14:36] xpenatan commented on #22
This bug related to dragomesdk. Ive seem this some time ago.  Post it here https://github.com/dragome/dragome-sdk/issues

[2017-02-27 14:43] nicolaichuk commented on #22
Done. https://github.com/dragome/dragome-sdk/issues/146

[2017-02-27 15:09] nicolaichuk opened #25 "Need full support java 8 closure"
https://github.com/dragome/dragome-sdk

but
I  have this synthetic code:

====================================================

Supplier.java
[code]

ObjectPool.java
[code]

NodeOverlapCallback.java
[code]

MyNodeOverlapCallback.java
[code]

====================================================

Now if i do like this:

[code]

All work well after dragome js codegen

But if i do like this:

[code]

[2017-02-27 15:45] nicolaichuk commented on #20
@xpenatan thanks.

Now i have this error

[code]

this line:

[code]

in this code:

[code]

Link to original java file:
https://github.com/junkdog/artemis-odb/blob/master/artemis/src/main/java/com/artemis/ConfigurationElement.java#L26

[2017-02-27 18:26] nicolaichuk opened #26 "How do I add dragome-gdx-bullet in gradle.build?"
I can not find example to use bullet extension in gdx-shadertoy

https://github.com/xpenatan/gdx-shadertoy/search?utf8=✓&q=bullet

I see here https://github.com/xpenatan/gdx-dragome-backend/tree/master/extensions/gdx-bullet/gdx-bullet-dragome that it is separate maven project.

Can you deploy it to https://github.com/xpenatan/mvn-repo/tree/master/snapshots/com/badlogicgames/gdx
and write example h

[2017-02-27 20:10] intrigus commented on #16
@nicolaichuk My weekend was great^^
I'm working on it right now, but I've encountered some bugs, I have to fix :)

[2017-02-27 20:33] xpenatan commented on #20
compare dont exist in  dragome emulated integer  https://github.com/dragome/dragome-sdk/blob/master/dragome-js-jre/src/main/java/java/lang/Integer.java

[2017-02-27 22:24] nicolaichuk commented on #20
@xpenatan Can you please add support this emulation or tell me how i can do it?

[2017-02-28 00:02] xpenatan commented on #20
@nicolaichuk  you will need to have dragomeSDK, include changes to jre classes and do "mvn install" ( or clean install).  After that in dragome-Backend source folder you type  "gradle uploadArchives" and it will create a fat jat in "D:/Dev/mvn-repo/snapshots/" (change this in build.gradle for other location).

You can now redownload the fatjar, I added that method.

[2017-02-28 03:19] fpetrola commented on #20
I'll open an issue on dragomeSDK repo to fix NPE problem, and implement a better error handling.

[2017-02-28 12:30] nicolaichuk commented on #20
@xpenatan, @fpetrola thanks.

Next run error :)

[code]

Should I specific configure dragome for injection mechanism support?

[2017-02-28 13:53] xpenatan commented on #20
Dragome have reflection but not all is supported yet (the most used methods should work).

Is there a demo that is also throwing this error ? not easy to know what is going on in that line.

[2017-02-28 16:12] nicolaichuk commented on #20
i found bug in your IsInstance implimentation

in this line
https://github.com/junkdog/artemis-odb/blob/master/artemis/src/main/java/com/artemis/injection/FieldHandler.java#L92

check
'''
PojoFieldResolver.IsInstance(fieldResolver)
'''

fieldResolver is WiredFieldResolver

[code]
https://github.com/junkdog/artemis-odb/blob/master/artemis/src/main/java/com/artemis/injection/WiredFieldResolver.java#

[2017-03-01 12:33] xpenatan commented on #26
Not possible now. only eclipse and having dragome projects source imported

[2017-03-01 13:08] nicolaichuk commented on #20
I have bug with support instanceof with ParameterizedType

In this line
[code]
https://github.com/junkdog/artemis-odb/blob/master/artemis/src/main/java/com/artemis/utils/reflect/Field.java#L107

genericType is ParameterizedTypeImpl http://grepcode.com/file/repository.grepcode.com/java/root/jdk/openjdk/8u40-b25/sun/reflect/generics/reflectiveObjects/ParameterizedTypeImpl.java#ParameterizedTypeImpl

[2017-03-01 14:27] nicolaichuk commented on #13
https://github.com/konsoletyper/teavm/issues/245

[2017-03-01 22:08] fpetrola commented on #20
The problem is in Field.getGenericType method, it's not implemented yet. Current implementation is returning the same as getType method. I'll create a feature request issue to derived from this.

[2017-03-01 23:43] intrigus commented on #16
My code is working again :)
I'm optimizing it right now and will publish the finished library soon.

[2017-03-02 00:14] nicolaichuk commented on #16
@intrigus Glad to hear it.

[2017-03-02 10:03] nicolaichuk opened #28 "Need port gdx test"
Will be very good if you port gdx-test https://github.com/libgdx/libgdx/tree/master/gdx/test/com/badlogic/gdx to test-engine for web dragome.

And check that all test run ok.

I think that perhaps will be trouble with Bits.java because it used bitwise operations with long that do not have full support in javascript.

https://stackoverflow.com/questions/3081271/number-of-bits-to-represent-a-number

[2017-03-02 11:28] xpenatan commented on #28
Some tests is already at https://github.com/xpenatan/gdx-dragome-backend/tree/master/tests/gdx-tests-dragome/src/com/badlogic/gdx/tests

I could delete the ones here and make it target the core gdx tests.

[2017-03-04 10:12] nicolaichuk opened #29 "Miss class DelegateCode and ContinueReflection"
@xpenatan, @fpetrola:
It missed this class in generate js code:

[com.dragome.commons.DelegateCode](https://github.com/dragome/dragome-sdk/blob/master/dragome-js-commons/src/main/java/com/dragome/commons/DelegateCode.java)
[com.dragome.commons.ContinueReflection](https://github.com/dragome/dragome-sdk/blob/master/dragome-js-commons/src/main/java/com/dragome/commons/ContinueReflection.java)

Its us

[2017-03-04 11:41] fpetrola commented on #29
sorry it's a bug introduced in last commit, I'll fix it soon

[2017-03-07 01:12] fpetrola commented on #22
fixed in e3fd2f1b40854267e4f756776f1110c44e21f7ba

[2017-03-07 01:13] #22 closed

[2017-03-07 05:47] fpetrola commented on #29
fixed in https://github.com/dragome/dragome-sdk/commit/7171320d59cc59ab35949966dc7c4c8cb3756fb5

[2017-03-07 05:47] #29 closed

[2017-03-07 08:17] nicolaichuk opened #31 "Move hardcode local repository path from build.gradle to local maven config"
Path to local repository may be different. And need used local maven config in build.gradle for change it without rewrite build.gradle.

[2017-03-07 08:53] nicolaichuk commented on #31
Fix in https://github.com/xpenatan/gdx-dragome-backend/pull/30/commits/0d9d09536f6f13ca982199fab10b87d0b389808c

[2017-03-08 09:26] nicolaichuk commented on #12
I done PR https://github.com/libgdx/libgdx/pull/4636
@xpenatan, please review.

[2017-03-08 23:53] #31 closed

[2017-03-09 00:10] xpenatan commented on #12
Xoppa is usually the one who update bullet. You may ask him to analyse or to update. You can easily find him in IRC channel.  Tiny changes to libgdx takes some months to merge. With a big commit It could take years     ( jking ^^ but its close haha).  Is there really a need to update ?  From what I see its more VR stuff.

[2017-03-09 00:13] xpenatan commented on #25
I'll close this because its more dragome side.

[2017-03-09 00:13] #25 closed

[2017-03-09 06:51] nicolaichuk commented on #12
@xpenatan

These commit can not be made small. I believe that I am doing a useful job in the development of the project. While I'm ready to spend my time to change this PR, if maintainers spend their time to review this PR. Let's see what will happen next. If you can somehow help, I'll be grateful.

Sorry, I did not understand what you're talking about.

[2017-03-09 07:27] nicolaichuk opened #32 "libGDX 1.9.6 released"
http://www.badlogicgames.com/wordpress/?p=3984#comments

Maybe need update dependence gdx-dragome-backend and gdx-shadertoy.

It was updated to latest Sound Manager 2 in new libGDX, maybe need update https://github.com/xpenatan/gdx-dragome-backend/releases/download/LIB/soundmanager2-jsmin.js too.

[2017-03-09 23:15] xpenatan commented on #12
Yes I know its impossible to do small commit with this.  I know libgdx since 2012 and I know that with few lines fix takes days/months for them to analyse and accept the changes.  With a big patch lets just hope it pass faster !

Its a chat channel.  You can connect with https://hexchat.github.io/ (or other free clients) or via web https://webchat.freenode.net/ (channel: #libgdx)

Which bullet fea

[2017-03-09 23:40] xpenatan commented on #32
SoundManager2 is already to last version (its from 2015 =D ) 1.9.6 works fine with backend ( im always at gdx snapshot =D ).

I´ll be moving repo to new location and I will update shadertoy when its done.

[2017-03-10 00:44] #23 closed

[2017-03-11 19:16] xpenatan commented on #14
JavaDoc and source is include in gradle commit url without 'ALL' tag. (check front page)

[2017-03-11 19:16] #14 closed

[2017-03-11 19:16] xpenatan commented on #32
New repo is up. Check front page.

[2017-03-11 19:17] #32 closed

[2017-03-11 19:57] xpenatan opened #33 "Webapp Improvements"
Create webapp files automatically without the need to manually add it like: index.html,  bullet.js, soundmanager,  WEB-INF and dragome-resources  so its easier to host it.

[2017-03-15 13:59] fpetrola commented on #16
Hi @intrigus, do you need some help to publish your gdx-freetype extension?

[2017-03-22 00:16] Namek opened #34 "kotlin-lang?"
Hi there,
are you aware of whether that backend would work with Kotlin language?

[2017-03-22 11:31] xpenatan commented on #34
Never tried.  @fpetrola does dragomeSDK support kotlin ?

[2017-03-22 18:08] fpetrola commented on #34
Me neither, never tried kotlin under Dragome. It should be running smoothly if Kotlin it's just a matter of bytecode creation from another syntax, just like Scala that is working alright.

[2017-03-30 11:15] nicolaichuk commented on #34
@Namek, see this change

https://github.com/nosix/dragome-sdk/commit/8ba9839cb5953ecdb2dbaa564a8035ba07adcf55

https://github.com/nosix/dragome-sdk/commit/631db6ab9aec574b41eebabb0971319a81b0d2b7

https://github.com/nosix/dragome-sdk/commit/17c78e4d6084c8c60b90af2aa507caeb5dcfe0a6

maybe

[2017-03-30 11:17] nicolaichuk opened #36 "How upload in local maven repository?"
@xpenatan,  How can i upload now in local maven repository after this change https://github.com/xpenatan/gdx-dragome-backend/commit/3f493375915786c759b29c98debf65a76d40a1b2 ?

[2017-03-30 11:57] xpenatan commented on #36
I think you can comment  https://github.com/xpenatan/gdx-dragome-backend/blob/master/deploy.gradle#L12-L16   and call uploadArchives like before.  I'll check when I get home

[2017-03-30 12:00] nicolaichuk commented on #36
@xpenatan, it will be better if uploading in local repository may do without any change in file. Only use gradle task or define in command line.

[2017-04-02 18:19] xpenatan commented on #36
get the last source and the command below will upload to local mvn repo
[code]

[2017-04-13 12:58] intrigus commented on #16
Hey, I've just released gdx-freetype for gwt!
Have a look at https://github.com/intrigus/gdx-freetype-gwt

[2017-04-14 18:22] Namek commented on #34
Thanks guys, personally I've given up on Kotlin at this point. Please decide whether this issue is to be closed.

[2017-04-15 02:56] #34 closed

[2017-04-15 02:56] #36 closed

[2017-04-15 02:57] xpenatan commented on #16
added at #d3a7f19 . Gradle stuff will come out later.

Thanks @intrigus

[2017-04-15 02:58] #16 closed

[2017-04-15 02:58] #19 closed

[2017-04-15 02:59] #20 closed

[2017-05-13 14:40] fxzjshm opened #38 "getDisplayMode() returns null"
In this file [DragomeGraphics.java](https://github.com/xpenatan/gdx-dragome-backend/blob/master/backends/gdx-backend-dragome/src/com/badlogic/gdx/backends/dragome/DragomeGraphics.java), `getDisplayMode()` returns null.
This causes some codes to fail, for example I got a `TypeError` (and I cannot catch it). I think this method should return the size of the `<canvas>`.
Moreover, other functions shou

[2017-05-14 23:05] xpenatan commented on #38
I've added this method. If there is any other method you need I'll try to port from gwt or create it if its possible.

[2017-05-15 13:51] fxzjshm commented on #38
OK, thank you very much! I'll test it later this week.

[2018-03-15 12:59] EtK2000 opened #39 "Has development stopped?"

[2018-03-24 18:45] xpenatan commented on #39
Hi, yes. Since there is still bugs in dragome and did not have any single commit to keep it better I paused.

[2020-02-29 16:19] xpenatan commented on #39
Hi @EtK2000. Development have been restored.  Some big refactoring will be made.  This repo will host dragome, gwt and teavm libs.  The reason for this is that I plan to create teavm backend that will reuse some dragome code (backend, bullet, freetype, etc) .

With a single repo will be easier to maintain and share/reuse web code for all three platforms (gwt, dragome and teavm).

My first step is

[2020-02-29 17:02] EtK2000 commented on #39
Yay!
That's awesome to hear.
I'd be willing to help with a bit if needed.

[2020-05-23 02:51] MozarellaMan opened #40 "NullPointerException when running jettyRun"
I'm trying to use this plugin to export my LibKTX code. The code is pretty simple and just makes use of graphics, scene2d and assetloader. I get this error when I try to run jettyRun:

[code]

[2021-06-22 23:20] #39 closed

[2021-06-22 23:20] #38 closed

[2021-06-22 23:20] #33 closed

[2021-06-22 23:21] #28 closed

[2021-06-22 23:21] #26 closed

[2021-06-22 23:21] #24 closed

[2021-06-22 23:21] #21 closed

[2021-06-22 23:21] #12 closed

[2021-06-22 23:22] #15 closed

[2021-06-22 23:28] xpenatan commented on #40
Hi @MozarellaMan

Sorry for the very long delay.
I'm focusing in the teavm generator which is way easier to set up and compile.

I'll close this and if your still interested and have issues, contact me on discord in libgdx server or create another issue.

[2021-06-22 23:28] #40 closed

[2021-09-26 16:12] ange-black69 opened #41 "Building the generator"
Hello @xpenatan and thank you very much for your work!
I'm trying to port my game to html5 and gwt version was awfull...
I have seen your video about TeaVM generator tool but I didn't see any compiled jar on the repo.
So I have cloned your depo and did a ./gradlew build on my desktop but I got the following error build failed :
`
"A problem occurred configuring project ':examples:core:dragome'".

[2021-09-26 23:39] xpenatan commented on #41
Hi @ange-black69, thanks for trying it out.

I would like to remember that this is a work in progress and may not work for a complete game.

To run the generator try this:
* Download  "teavm-cli-0.7.0-dev-XXXX.jar" from https://github.com/konsoletyper/teavm  and add it to "backend-teavm\libs"
* run ./gradlew :tools:generator:desktop:run from root project

Also, make a pull.  I disable dragome in s

[2021-09-27 07:49] ange-black69 commented on #41
Thank you very much for your quick reply!
I managed to run it.
I will test with my game, but that looks really really promissing!
To confirm, this does work for jdk11 (at least I can compile the generator).
I will definitively follow your project and help where I can!
Thank you

[2021-09-27 08:13] ange-black69 commented on #41
Ok so after further investigation, It does run fine on jdk8 but not on 11 (I have manually switched gradle to 8). If you are using jdk11, it does compile the generator, but you got a class cast exception. This error disapear in jdk 8.
However, when I wanted to build with TeaVM Backend, just after the compiling state, I got a " Error optimizing program for method..." and this method is related to j

[2021-09-27 16:44] xpenatan commented on #41
Does it work with GWT?  If it do work then we can try to port.

[2021-09-27 17:18] ange-black69 commented on #41
In fact I abandon gwt a while ago because it was way too complicated to make my game working properply (I use websocket and websocket on gwt is a pain.. anyway) so I have found this alternative really promising.

[2021-12-28 14:30] fgnm commented on #41
Hey @xpenatan how's going this? I was looking for an alternative to GWT in libGDX and I've found this project.. I tried to compile a demo game made with my engine (https://github.com/rednblackgames/tutorial-space-platform/tree/artemis) with TeaVM backend but it didn't worked (compilation produce errors regarding missing methods for freetype extension) and the produced JS code doesn't run. It crash

[2021-12-29 13:00] xpenatan commented on #41
Hi @fgnm.

Dragome creater is not active anymore. It have some crash bugs that takes some time to understand and fix the source. I even had a fork with some small fixes but then I decided that its not worth it.

About teaVM, it does not have bullet physics or freetype support yet.  So you may ask on how did it worked with dragome. I converted C++ to javascript with emscripten and I manually binded

[2021-12-30 21:47] fgnm commented on #41
Thanks a lot @xpenatan! I'm learning a bit how the whole mechanism works, I'll need sometime, but I've tried your latest changes on my demo project.
The first thing I'd like to point out is that generator cannot be run on Linux due to ImGUI native libraries problems, here the stacktrace:
[code]
Tried also to manually copy shared libraries into correct folders but still can't get it working on Linu

[2021-12-30 21:50] fgnm commented on #41
Tried generator on Windows, it works, but as expected compiler produce many errors, mostly regarding freetype and artemis.. I've changed libGDX version into `dependencies.gradle` to `1.10.1-SNAPSHOT` becuase the demo project needs this version.
[code]

[2021-12-31 04:43] xpenatan commented on #41
Hi,  I'm currently using windows for now.  I'll need to install Ubuntu to verify why is failing.

Do any of the tests works ? Gears, Animation2D, UITest using gradle ?

I'm trying to get FreeType test to work first. I made it compile but was not rendering any text.  I guess there is a issue with teavm ByteBuffer and the old freetype emulation code which use a custom readwrite byte buffer.

About A

[2021-12-31 16:42] xpenatan commented on #41
@fgnm

Freetype is now working.

![image](https://user-images.githubusercontent.com/6472084/147832760-a1dc0a70-28dd-41cb-91e0-d38db2e51c75.png)

[2021-12-31 17:12] fgnm commented on #41
@xpenatan that's awesome! I tried examples and they're working.. Still cannot be able to run an example from my engine, I always got artemis errors:
[code]
Which they're weird becuase `com.artemis.utils.reflect.Field` class is the same of `com.badlogic.gdx.utils.reflect.Field`

[2021-12-31 17:31] fgnm commented on #41
Okay nothing weird, just my bad. I created `com.artemis.utils.reflect.Field` and `com.artemis.utils.reflect.Annotation` based on your class made for libGDX reflection and now compiling is succesfully.
Still not works, but I think for a minor issue. This is the stacktrace I got in console:
[code]
And looks related to Json reading. The game reads a series of Json files stored in the asset directory

[2021-12-31 18:11] xpenatan commented on #41
@fgnm Can you show me the steps you use to build ? Its a single jar file or you created a new module for teavm ?

About the the reflection. I just commited a small fix to get the reflectionTest to work.  It requires "TeaReflectionSupplier.addReflectionClass" in the Build class  to be able to read the "reflectionClass.json" file.

[2021-12-31 19:25] fgnm commented on #41
@xpenatan thanks a lot! I noticed only few minutes after the existence of `TeaReflectionSupplier`. It's awesome to have an unlimited reflection pool, and I confirm that the game runs pretty well on any browsers! If you like the idea I can PR the few changes I made to get artemis working. I also made a small method that scan classes into jar and add them to relfection cache if the belong to a parti

[2021-12-31 21:53] xpenatan commented on #41
Sure, I don't use Artemis so I any improvements to get it to work are welcome.

About jBox2d, do you have a example that is possible to compare the two? like a benchmark?
I wonder if using emscripten to convert box2d c++ to js will have any performance gain.   Not sure if box2d-wasm is possible.

Happy new year :)

[2022-01-01 19:03] xpenatan opened #44 "Re-throwing exceptions not working"
When throwing a exception in a try-catch does not print correctly

![image](https://user-images.githubusercontent.com/6472084/147858124-2897169f-fa2d-4cda-9e16-bcb4c7a3d504.png)

![image](https://user-images.githubusercontent.com/6472084/147858153-6a215356-4266-4396-8fbc-731173c7ac83.png)

[2022-01-01 19:51] xpenatan commented on #44
fixed at e1146da

[2022-01-01 19:51] #44 closed

[2022-01-06 09:24] aallnneess opened #45 "Methods setFullscreenMode and setWindowedMode dont work"
Hello :-)

i use a Scene2d clicklistener to change from fullscreen to windowed and back.
Unfortunately this code has no function here:

- Gdx.graphics.setFullscreenMode(Gdx.graphics.getDisplayMode());
- Gdx.graphics.setWindowedMode(800,600);

[code]

[2022-01-06 18:58] xpenatan commented on #45
Hi, I just commited  https://github.com/xpenatan/gdx-html5-tools/commit/70733914be372e5c7ef21545bdd9c9728a1eec4a
Please check if its working.

[2022-01-06 19:19] xpenatan opened #46 "Startup loading screen"
Implement a way to add a startup app loading which anyone can customize.

Something like with GWT backend which have the default loading logic.
Or a secondary application listener which is executed first while loading libs, assets, etc.

[2022-01-07 10:26] aallnneess commented on #45
Hello,

i cant check it becouse, since last commited i get some errors: (i dont get this issues with same jar file yesterday)

[code]

[code]

[2022-01-07 10:29] aallnneess commented on #45
If i try to open it in browser:

[code]

My TeaVm Hyperlap build file:

[code]

[2022-01-07 22:22] xpenatan commented on #45
Hi, Sorry, I removed box2d-gwt imeplemtantion from backend-web. For some reason I forgot in there but its now removed.

Your teavm module should include   implementation "com.badlogicgames.gdx:gdx-box2d-gwt:$project.gdxVersion"

[2022-01-08 14:35] aallnneess commented on #45
Hey, thanks.

Sadly it doesnt work and idk how to fix :-/

[code]

[code]

Libgdx jar works great in desktop/android/gwt plattform

[2022-01-08 14:39] aallnneess commented on #45
ups, `teaBuildConfiguration.reflectionExclude.add("com.badlogicgames.gdx:gdx-box2d-gwt:$project.gdxVersion");` is wrong

[2022-01-08 14:41] aallnneess commented on #45
okay, but i also had this dependencie:

[code]

[2022-01-08 23:16] xpenatan commented on #45
Hi, is the jar private ? do you mind sharing so I can figure it out ?
Something with the emulated 'com.artemis.utils.reflect.Field'  stopped working for some reason

[2022-01-09 09:30] aallnneess commented on #45
Hey,

here is the rar file:

https://github.com/aallnneess/Everrun-Hyperlap-Artemis-Test/blob/d849c7e41193e3f60298d2dde1865b7e80833f1a/everrun1.jar

thanks

[2022-01-09 12:32] xpenatan commented on #45
Hi @aallnneess. I downloaded the assets from your github and used the same TeaBuilder configuration and it worked. I used the class from the example: examples\core\teavm\src\main\java\com\github\xpenatan\gdx\examples\teavm\HyperLap2DTest.java

![image](https://user-images.githubusercontent.com/6472084/148682066-7aef0964-7eeb-42cb-ac28-e480dbe5389d.png)

Are you using the last commit ?

[2022-01-09 13:33] aallnneess commented on #45
hm. i use the latest commit and same class as you, but still same issues. but then the problem is my congif, so i have to look deeper....

[2022-01-09 14:04] aallnneess commented on #45
After clone repo again, it worked, thanks.

The following also works:

[code]

[2022-01-09 14:04] #45 closed

[2022-01-09 14:39] xpenatan opened #47 "Missing backend implementation"
As for now, if your game works fine in GWT and not with teaVM, it may be because some backend code are not implemented yet or is not ported from GWT.

Some examples are WebApplication, WebGraphics and WebInput classes.

Solutions that requires javascript code, there is an example in WebGraphics. It uses a WebJSGraphics interface.

[2022-01-12 01:24] xpenatan commented on #41
hi @fgnm

I updated readme bullet test.  It contains bullet phsyics test and with webassembly.  Emscripten support webassembly so it gives a small fps gain.

[2022-01-12 13:15] aallnneess opened #48 "Issues in Browser the newest build"
Hello :-)

i always take the same jar:

with the build from 09.01.22 my game works fine:

[everrunteavm090122](http://45.133.9.32:8080/everrunteavm090122/)

with the latest commits (today) i get issues inside browser:

[everrunteavm120122](http://45.133.9.32:8080/everrunteavm120122/)

![image](https://user-images.githubusercontent.com/73443724/149146895-a85eb118-88da-48ac-b7b9-4e01f376c922.png)

!

[2022-01-12 14:59] xpenatan commented on #48
Hi, no need.  The idea is that if a script fails to load it will just ignore.  For some reason it didnt work.

I commented the bullet part in last commit and need to find a better way.

[2022-01-12 16:11] aallnneess commented on #48
Hey, yes it worked again fine, thanks 👍

[2022-01-12 16:11] #48 closed

[2022-01-17 13:49] customautosys opened #49 "Errors received in generator"
[code]
I've checked the methods, I don't see what's wrong or how they should be modified. I've checked the teavm sources and it should be supported because it's an interface. I don't understand why this error is happening.

This occurs when running the dist jar in console. I also tried to debug in Android Studio but I kept getting out of heap space even though I already set -Xmx8192m in JVM option

[2022-01-17 16:32] xpenatan commented on #49
Hi @siauderman

Error 0 and 1 happens when "teavm-cli-0.7.0-dev-1200.jar" classes are inside accepted libs. It should be in "Not Accepted Libs ClassPath"

Is the generator a standalone jar ou being executed with gradle run command ?    Check if teavm-cli-0.7.0-dev-1200.jar is not merging with other jar files.

[2022-01-17 16:46] siauderman commented on #49
Also, I just tried running on my Linux machine to see if there's a difference and I got this:
[code]
Any idea why there seems to be a missing native lib?

[2022-01-17 16:55] xpenatan commented on #49
The generator uses imgui for the UI and its a known issue that the linux libs are not working.

[2022-01-17 16:58] xpenatan commented on #49
About the dist.  its not working well.  The teavm cli lib is being added along with the generator classes.

Need to find a way to separate it from the final jar.  Or, if possible. a way to filter its classes from messing up the emulation classes.

[2022-01-17 17:01] xpenatan commented on #49
When running the run gradle command the teavm does not merge its classes  so its easier to filter it out.

[2022-01-18 01:27] xpenatan commented on #49
Hi @siauderman
I commited a temp way to run the generator.

on windows, execute the generator dist and then run the "\tools\generator\desktop\run.bat"

See if it works this way.

[2022-01-18 06:54] siauderman commented on #49
Dear @xpenatan,

Thanks for responding so quickly and sorry for bothering you!

I'm now getting this error instead:

[code]
Doesn't look like a problem with my code, but seems there is some issue with TeaVM / libgdx.

If I run it from Android Studio (somehow I managed to fix the out of memory error), I get this instead:

[code]

Thanks a lot for your help, much appreciated!

[2022-01-18 14:26] xpenatan commented on #49
No problem.  The more error reports the better the tool becomes.

Yes but its not ready yet.  It's by creating a teavm module like its done in examples. The only issue is that there no snapshots yet. You can use publishToMavenLocal task from html5 tools and add this implementation to your game teavm module:
[code]
Also needs to have mavenLocal first in repositories:

[code]
The libs will be genera

[2022-01-18 15:30] siauderman commented on #49
My jar is here: https://customautosys.com/tuxfight/download/TuxFight-0.0.1.jar

If you need the sources, do you have a BitBucket account? It's a private repo. I can grant you access for the purpose of improving your project if you keep it confidential (not open source).

I set the Android Studio JDK to Java 8.

Will try your suggestions tomorrow, thanks!

[2022-01-19 04:41] siauderman commented on #49
For some reason BitBucket is not allowing me to add you by name, can I have your email?

It worked on GWT SuperDev after commenting out all the code that used ea-async and auth0 (it kept saying sources not available despite me copying source files and creating gwt.xml). The dist build crashes mid-game: https://customautosys.com/tuxfight/web

[2022-01-19 12:16] xpenatan commented on #49
Sure, its xpenatan@gmail.com.

[2022-01-21 01:22] xpenatan commented on #49
Hi @siauderman

I used the GWT branch and almost got it to compile.  There is 1 issue that i cant get to work.  which is the CompletableFuture class.  GWT have a emulation lib but teavm does not have this class. I managed to commented out everything that use CompletableFutre  but another issue popup.

I could only get the first loading screen to work.  The assets are confusing, some assets are in

[2022-01-21 13:26] siauderman commented on #49
The assets that are actually used by the game engine are in assets. Those in src are the original source image files before being packed with TexturePacker (they do not actually get bundled with the game).

Wait, TeaVM doesn't support CompletableFuture at all? Then it's not much better than GWT for me then (save maybe that I can use the Auth0 Java library - don't know if that'll work too). I was h

[2022-01-21 14:45] xpenatan commented on #49
I'll invesgitate it later to try to get the assets working. One step at a time.

GWT does not have CompletableFuture.  OneGeek created a external lib to emulate it in GWT https://github.com/OneGeek/GWT-CompletableFuture.  Someone may need to do it also for teavm.

teavm contains some classes from concurrent package  but its not everything https://github.com/konsoletyper/teavm/tree/master/classlib/

[2022-01-23 13:59] xpenatan opened #50 "Memory Leak"
There is a memory leak issue.  If you build multiple times using the IDEA the memory in task manager keeps increasing

[2022-01-24 17:39] siauderman commented on #49
Yes, I'm using that CompletableFuture implementation.

Have you tried cheerpj? Supposedly it supports the entire Java 8 API.

[2022-01-27 09:44] aallnneess opened #51 "Compiler problems | 3 ERRORS"
Hey,

ive got 3 Compiler problems:

[code]

This is my Buildclass:
[code]

Libgdx Game works in lwjgl3/Android/Gwt.

There was a big hyperlap update to beta, maybe something else needs to be configured...

**Edit:** Link to web-app:
http://45.133.9.32:8080/everrunTeavm270122/

thanks so far

[2022-01-27 15:54] xpenatan commented on #51
ERROR[0]
For NoSuchFieldException I'll have to investigate if I'll need to emulate it or it should obtain the class from java core. It does not exist in https://github.com/konsoletyper/teavm/blob/master/classlib/src/main/java/org/teavm/classlib/java/lang/

ERROR[1]
I think that method don't exist in libgdx 1.10.0. I guess you need to use snapshots
https://github.com/libgdx/libgdx/blob/gdx-parent-1

[2022-02-23 14:40] xpenatan opened #52 "Javascript size"
After testing teaVM and GWT with https://github.com/mgsx-dev/gdx-gltf  I identified that GWT javascript size is lower compared to teaVM.
4.7mb (teaVM with obfuscated option) and 2.5mb (GWT dist option)

Need to investigate if there is a issue with teaVM.

[2022-10-14 13:42] fgnm opened #53 "Improve Box2D performances with TeaVM"
Hi!
JBox2D used by libGDX-GWT is commonly known to be a big bottleneck for any 2d physics game made in libGDX for Web, java implementation is just slow compared to the native one, but nowadays there's emscripten and the work you made with Bullet extension for TeaVM shows very great performances! So I was wondering if the same could be made with Box2D to improve performances too.

Thanks :)

[2022-10-14 19:58] xpenatan commented on #53
Hey, sure. Can you create an example where its slow with gwt backend? It will be easier to see if emscripten will give performance boost.

[2022-10-14 20:45] fgnm commented on #53
Currently on my not-so-powerful laptop you're examples already shows interesting scenarios. The Bullet example with 500 3D boxes run at same fps of the Box2DTestCollection here: https://xpenatan.github.io/gdx-html5-tools/teavm/gdx-tests/ (the test with the pyramid of boxes). When boxes are moving fps drops between 20/30fps, while the bullet test runs always between 40/50fps.. On a not-so-powerful

[2022-10-15 15:22] xpenatan commented on #53
The test collection use ShapeRenderer and not sprites and that also drop FPS.

I got emscripten to compile box2d c++ classes. The next step is to figure out how to bind it to libgdx custom box2d classes and that may take some time.

[2022-10-18 13:04] xpenatan commented on #53
@fgnm Already got something working =D.  Need to bind more methods to get pyramid fully working

![image](https://user-images.githubusercontent.com/6472084/196437016-72be51ab-c191-4d07-8de9-653ee15b2f7f.png)

[2022-10-19 21:23] fgnm commented on #53
Cool! Can't wait to try once finished to check performances :)

[2022-10-20 18:11] xpenatan commented on #53
Hi @fgnm
https://xpenatan.github.io/gdx-html5-tools/teavm/test-box2d/

Test it and see if there is any fps increase.  There is one issue that the mouse joint is not deleting and I'll fix it later.

[2022-11-25 17:36] #53 closed

[2022-11-25 17:36] #51 closed

[2022-11-25 17:37] #49 closed

[2022-11-25 17:38] #41 closed

[2022-11-27 22:21] Its-Kenta opened #54 "Game won't load on Itch.io - (JavaScript) TypeError: can't assign to property Symbol("javaException") on "longjmp": not an object"
Hello!

I've recently played around with this and managed to export to JS with your tool and it surprisingly works fine when running via a local server. I've made a simple pong to try this out.

However, when trying to add the game on itch.io I'm receiving the following error:
`(JavaScript) TypeError: can't assign to property Symbol("javaException") on "longjmp": not an object`

With more followin

[2022-11-28 00:08] xpenatan commented on #54
Hi, is your pong opensource?

I uploaded Bullet example in draft and no errors pop up.

![image](https://user-images.githubusercontent.com/6472084/204167168-4634fb84-5a49-4dd6-bae3-977686a47293.png)

[2022-11-28 06:51] Its-Kenta commented on #54
Well.. This is a bit embarrassing.
On the next day (today) I booted up my PC and..

It just works now?

![Screenshot_20221128_064933](https://user-images.githubusercontent.com/106167071/204212416-4834df90-0d44-4a7d-b2fb-b55cbdcfe508.png)
I'm confused but happy at the same time.

Not sure what went wrong there, either some hiccup on itch.io side or my PC?

[2022-11-28 11:59] xpenatan commented on #54
Could be a browser cache issue.

There is a teavm flag in CustomTeaVMTool.longjmpSupported which is true by default.  I'll take a look later.

[2022-11-28 17:36] #54 closed

[2022-11-28 17:37] Its-Kenta opened #55 "Gradle integration"
Hello!
I wanted to ask if there is a Gradle integration that can be easily added to a project without having to build the generator so that you can simply build js/wasm from your IDE?